<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Portfolio -- Ibrahim</title>
  <link rel="shortcut icon" type="image/png" href="../../favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/utils/Draggable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/CSSPlugin.min.js"></script><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="w-100 vh-100 relative" id="desktop">
  <nav class="absolute top-0 left-0 right-0 flex items-center pv2 ph4">
    <img class="logo mr4" src="https://image.ibb.co/iD2r35/smiley.png ">
    <a class="white link no-underline f7 mr4 b" href="#">{{activeWindowTitle}}</a>
    <a class="white link no-underline f7 mr4" href="#">File</a>
    <a class="white link no-underline f7 mr4" href="#">Edit</a>
    <a class="white link no-underline f7 mr4" href="#">View</a>
    <a class="white link no-underline f7 mr4" href="#">Window</a>
    <a class="white link no-underline f7" href="#">Help</a>
  </nav>
  <div class="restrictor absolute right-2 bottom-2 left-2">
    <transition-group name="fade">
      <draggable-window :id="window.id" v-if="window.isShowing" v-for="(window, $index) in windows" :key="$index" :content="window.comp" :title="window.title" :index="window.id">
        {{ window.content }}
      </draggable-window>
    </transition-group>
  </div>
  <div class="absolute top-0 right-0 bottom-0 h-100 flex flex-column pa4">
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('welcome')">
        <figure class="mt0 mh0 mb3 w3 h3 db center icon me"></figure>
        <h4 class="ma0">Welcome</h4>
      </button>
    </div>
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('home')">
        <figure class="mt0 mh0 mb3 w3 h3 db center icon home"></figure>
        <h4 class="ma0">My Home</h4>
      </button>
    </div>
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('writing')">
        <figure class="mt0 mh0 mb3 w3 h3 db center icon writing"></figure>
        <h4 class="ma0">Writing</h4>
      </button>
    </div>
    <div class="flex items-center pv3">
      <button class="flex-auto bn bg-transparent" @click="openWindow('calendar')">
        <figure class="mt0 mh0 mb3 w3 h3 db center icon calendar"></figure>
        <h4 class="ma0">Calendar</h4>
      </button>
    </div>
  </div>
</div>

<script type="x/template" id="draggable-window">
	<div :id="id" class="window absolute bg-white ba bw2 b--black">
    <div class="bb b--black bw2 flex items-center pa1">
      <button @click="closeWindow" class="bg-transparent bn dim flex items-center">
				<!-- Bauhaus FTW -->
      	<i class="material-icons mr1 f5">change_history</i>
        <i class="material-icons mr1 f5">crop_square</i>
        <i class="material-icons f6">radio_button_unchecked</i>
      </button>
    </div>
    <div class="pa3">
    	<div :is="content"></div>
    </div>
  </div>
</script>

<script type="text/x-template" id="welcome-template">
	<div class="measure">
  	<p class="mt0">Je m'appelle <a class="dark-pink link no-underline" href="https://pnrtscr.com/kqrkc7" target="_blank">Ibrahim Turkben</span></p>
    <p>Je suis alternant en réseaux informatique, à la <a class="dark-pink link no-underline" href="https://www.campus-du-beaujolais.mfr.fr/" target="_blank">Maison Familial Rurale</a> je suis actuellement à la recherche d'un emploi étudiant afin d'acquérir de l'expérience et de compléter mes revenus. Dans ce portfolio, vous trouverez mon CV, ma lettre de motivation, ainsi que mes disponibilités.
    <p>Voici mon <a class="dark-pink link no-underline" href="https://example.com" target="_blank">CV</a>, ma <a class="dark-pink link no-underline" href="https://example.com" target="_blank">lettre de motivation</a> et mes disponibiltés dans l'onglet calendrier</p>
</script>
<script type="text/x-template" id="home-template">
	<div class="measure">
  	<p class="mt0">asflkjasflkjasflkjasflkjaslfkjaslfkjalsfkjalskfjalskfjaslfkjaslfkjaslkfj</p>
    <img src="https://image.ibb.co/hHCDY5/anthony_delanoix_8509_compressor.jpg"/>
  </div>
</script>
<script type="text/x-template" id="writing-template">
	<div class="measure">
  	<p class="mt0">asfkjlasfjlkajsflkjaslfkjalskfjaslfkjalsfkjlkjasf <a class="dark-pink link no-under-line" href="https://example.com" target="_blank">Medium</a></p>
    <hr class="o-40 mb3">
    <a href="https://example.com" target="_blank" class="no-underline dark-pink link fw6 db mb3">bruh moment
</a>
<a href="https://example.com" target="_blank" class="no-underline dark-pink link fw6 db mb3">aljekajflkajelgkjnalgkn </a>
<a href="https://example.com" target="_blank" class="no-underline dark-pink link fw6 db mb3">;akjnglakgnmleaknghw</a>
<a href="https://example.com" target="_blank" class="no-underline dark-pink link fw6 db mb3">Adkajfkjaebgkjaqbegjkabgkjabg</a>
  </div>
</script>
<script type="text/x-template" id="calendar-template">
	<div class="measure-wide">
  	<p class="mt0">what <strong>amogus</strong></p>
    <hr class="o-40 mb3">
    <img src="https://i.imgur.com/rO94qkC.gif" alt="GIF animé" />
    <h4 class="mt0 mb2">huh</h4>
    <div class="f4" id="timeLeft"></div>
  </div>
</script>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.8/interact.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
<script src='https://cdn.rawgit.com/HugoGiraudel/Countdown.js/a88b61fc/countdown.min.js'></script><script  src="./script.js"></script>

</body>
</html>
